.wrapper{
    width: 90%;
    margin: 10px auto;
}
/*header*/
.header{
    background-color:#232f3e ;
    border-radius: 5px 5px 0 0;
    color: #fff;
}
.header a{
    color: #bcbdc7;
    transition: all 0.3s linear; 
}
.topinfo{
    border-bottom: 3px solid #303e4f;
    display: flex;
    justify-content: space-between;
}
.topinfo ul{
    display: flex; 
}
.ac_li_itemlink {
    display: block;
    padding:5px 12px;
  
}
.ac_li_itemlink>i{
    padding-left: 5px;
}
.ac_li_itemlink:hover{
    color: #fff;

}
.fa-icon{
    width: 20px;
    vertical-align: middle;
}
.language{
    padding: 5px 0 0 10px;
}