html{
    direction: rtl;
}
*{
    box-sizing: inherit;
}
body{
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
  
}
ul{
    padding: 0px;
    margin: 0px;
    list-style:none ;
}
a{
        text-decoration:none ;
}
h2{
        margin:0.60em;
}
h1{
        margin: 0;
        padding: 0; 
}
.clearfix::before,
.clearfix::after {
    content:'';
    display: table;
}
.clearfix::after{
    clear: both;
}
.flex{
    display: flex;
}
select,
input{
    font-family: inherit;
}
